* {
  padding: 0;
  font-size: 14px;
}

.header {
  min-height: 370px;
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-position: center center;
  color: #fff;
  position: relative;
  margin-bottom: 80px;
}

.bg_overlay {
  position: absolute;
  min-height: 370px;
  width: 100%;
  background-color: #303132;
  top: 0;
  opacity: 0.7;
}

.breadcrumb {
  margin-bottom: 0;
  font-weight: 500;
}

.header_content {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  z-index: 1;
}

.breadcrumb-item a {
  color: #fff;
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #fff;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}

.container {
  max-width: 1170px;
  padding: 0;
}

.maincontent {
  background-color: #fff;
  margin: 80px 10px;
  text-align: center;
}

.topheader {
  margin-bottom: 60px;
}

.splide__slide img {
  border-radius: 4px;
}

.ourpartners {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 80px 10px;
}

.ourpartners_content {
  background-color: #fff;
  text-align: center;
}

.customerlogo {
  height: auto;
  width: 270px;
  max-width: 100%;
}

.section_customers {
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.section_customers:nth-child(4) {
  border-right: none;
}

.section_customers:nth-child(8) {
  border-right: none;
}

.section_customers:nth-child(n + 5) {
  border-bottom: none;
}

.splide__slide {
  width: calc(23%) !important;
  display: flex;
  align-items: center;
  margin-right: 30px !important;
  background-color: #fff;
  border-radius: 6px;
  transition: all 0.4s;
  cursor: grab;
  margin-bottom: 80px !important;
}

.splide__slide img {
  object-fit: contain;
  width: 100%;
}

.splide__slide:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media only screen and (max-width: 767px) {
  .section_customers:nth-child(7) {
    border-top: 1px solid #d9d9d9;
  }

  .section_customers:nth-child(8) {
    border-top: 1px solid #d9d9d9;
  }

  .section_customers:nth-child(2) {
    border-right: none;
  }

  .section_customers:nth-child(6) {
    border-right: none;
  }

  .splide__slide {
    width: calc(50%) !important;
  }
}
